<h1> Área do proprietário </h1>

<p><%= link_to 'Usuários', users_path %></p>
<p><%= link_to 'Propriedades', properties_path %></p>
<p><%= link_to 'Empregados', employees_path %></p>
<p><%= link_to 'Chamadas de Manutenção' %></p>


<p><%= link_to 'Voltar', homepage_path %></p>


