<h1 class="dash-title">Funcionários</h1>
<div class="table-responsive">
    <table class="table col-12 table-hover table-striped">
      <thead>
        <tr>
         <th>Id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Cpf</th>
          <th>Contact</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @employees.each do |employee| %>
          <tr id='employees-values'>
            <td id='id'><%= employee.id %></td>
            <td id='first_name'><%= employee.first_name %></td>
            <td id='last_name'><%= employee.last_name %></td>
            <td id='cpf'><%= employee.cpf %></td>
            <td id='contact'><%= employee.contact %></td>
            
            <td><%= link_to 'Editar', edit_employee_path(employee), id:'edit', class: "btn btn-primary btn-tasks" %></td>
            <td><%= link_to 'Deletar', employee, method: :delete, data: { confirm: 'Tem certeza?' }, id: 'delete', class: "btn btn-danger btn-tasks" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
<%= link_to 'Novo Funcionário', new_employee_path , class: "btn btn-primary btn-tasks" %>
<%= link_to 'Voltar', proprietary_path, class: "btn btn-light btn-tasks" %>