<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2> 
         <%= pluralize(@task.errors.count, 'erro') %>
         <%= pluralize(@task.errors.count, 'Encontrado', 'Encontrados') %>
      </h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  
  <div class="field">
    <%= f.label :delegated %><br>
    <%= f.collection_select(:delegated, User.all, :id, :name, {:include_blank => ""}, {id: "delegated_select"}) %>            
  </div>
    
  <div class="actions">
    <%= f.submit "Criar Tarefa" %>
  </div>
<% end %>