<p id="notice"><%= notice %></p>

<h1>Listando Tarefas</h1>
<table>
  <thead>
    <tr>
      <th>Criador</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Delegado</th>
      <th>Data de criação</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.user_id %> </td>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= find_user_name(task.delegated) %></td>
        <td><%= task.created_at.strftime('%d-%m-%Y') %></td>
        <td><%= task.status %></td>
        
        <td><%= link_to 'Mostrar', task %></td>
        <td><%= link_to 'Editar', edit_task_path(task) %></td>
        <td><%= link_to 'Destruir', task, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Tarefa', new_task_path %>
