<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @task.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @task.descricao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @task.data %>
</p>

<p>
  <strong>Delegante:</strong>
  <%= @task.delegante %>
</p>

<p>
  <strong>Delegado:</strong>
  <%= @task.delegado %>
</p>

<p>
  <strong>Estado tarefa:</strong>
  <%= @task.estado_tarefa %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
