<div class="tasks-cadastro col-6 offset-3">
    <div class="col-12">
        <%= form_for(@vacancy) do |f| %>
          <% if @vacancy.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>
        
              <ul>
              <% @vacancy.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        
          <div class="field cadastro-field">
            <%= f.label :value %><br>
            <%= f.text_field :value %>
          </div>
          <div class="field cadastro-field">
            <%= f.label :status %><br>
            <%= f.select :status, Vacancy.statuses.keys.to_a %>
          </div>
          <div class="field cadastro-field">
            <%= f.label :room_id %><br>
            <%= f.collection_select(:room_id, Room.all, :id, :number, {}, {id: "room_select"}) %>
          </div>
          <div class="field cadastro-field">
            <%= f.label :vacancy_owner_id %><br>
            <%= f.collection_select(:user_id, User.where(user_type: 0), :id, :name, {include_blank: ""}, {id: "vacancy_select"}) %>
          </div>
          <div class="actions">
            <%= f.submit "Criar Vacancy", class: "btn btn-success" %>
          </div>
        <% end %>
    </div>
</div>