<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf, disabled: true %>
  </div>
  <div class="field">
    <%= f.label 'Tipo de usuário' %><br />
    <%= f.select :user_type, User.user_types.keys.to_a, {}, {:disabled => true} %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, disabled: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>