<h1 class="dash-title">Usu치rios</h1>
<div class="table-responsive">
    <table class="table col-12 table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Cpf</th>
          <th>Tipo de usu치rio</th>
          <th>Email</th>
          <th>Telefone</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @users.each do |user| %>
          <tr id='users-values'>
            <td id='id'><%= user.id %></td>
            <td id='name'><%= user.name %></td>
            <td id='cpf'><%= user.cpf %></td>
            <td id='user-type'><%= user.user_type %></td>
            <td id='email'><%= user.email %></td>
            <td id='phone-number'><%= user.phone_number.map { |x| x.phone_number }.join(',').html_safe %></td>
        
            <td><%= link_to 'Visualizar', user_path(user), class: "btn btn-primary btn-tasks", id: 'show' %></td>
            <td><%= link_to 'Deletar', user, method: :delete, data: { confirm: 'Tem certeza que deseja deletar usu치rio?' }, class: "btn btn-danger btn-tasks", id: 'delete' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<%= link_to 'Novo Usu치rio', new_user_path, class: "btn btn-primary btn-tasks" %>

<%= link_to 'Voltar', proprietary_path, class: "btn btn-light btn-tasks" %>