<div class="tasks-cadastro col-6 offset-3">
    <div class="col-12">
        <%= form_for(@property) do |f| %>
          <% if @property.errors.any? %>
            <div id="error_explanation">
              <h2> 
                 <%= pluralize(@property.errors.count, 'erro') %>
              </h2>
              <ul>
              <% @property.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          
          <div class="field cadastro-field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </div>
          
          <div class="field cadastro-field">
            <%= f.label :postal_code %><br>
            <%= f.text_field :postal_code %>
          </div>
          
          <div class="field cadastro-field">
            <%= f.label :address %><br>
            <%= f.text_field :address %>
          </div>
          
          <div class="field cadastro-field">
            <%= f.label :number %><br>
            <%= f.number_field :number %>
          </div>
          
          <div class="field cadastro-field">
            <%= f.label :city %><br>
            <%= f.text_field :city %>
          </div>
          
          <div class="field cadastro-field">
            <%= f.label :state %><br>
            <%= f.text_field :state %>
          </div>
          
          <div class="field cadastro-field">
            <%= f.label 'Proprietário' %><br>
            <%= f.collection_select(:proprietary_id, User.where(user_type: 1), :id, :name, {}, {id: "proprietary_id_select"}) %>            
          </div>
          <div class="actions">
            <%= f.submit "Criar Propriedade", class: "btn btn-success" %>
          </div>
        <% end %>
    </div>
</div>