<!-- proprietario-->
<h3 class="dash-title"> Propriedades </h4>
<div class="table-responsive">
    <table class="table col-12 table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>CEP</th>
          <th>Logradouro</th>
          <th>Número</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Proprietário</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
          <tr id='properties-values'>
            <td id="id"><%= property.id %></td>
            <td id="name"><%= property.name %></td>
            <td id="postal_code"><%= property.postal_code %></td>
            <td id="proprietary_name"><%= property.address %></td>
            <td id="number"><%= property.number %></td>
            <td id="city"><%= property.city %></td>
            <td id="state"><%= property.state %></td>
            <td id="proprietary_name"><%= find_user_name(property.proprietary_id) %></td>
            
            
            <td><%= link_to 'Editar', edit_property_path(property), id: 'edit', class: "btn btn-primary btn-tasks" %></td>
            <td><%= link_to 'Excluir', property, method: :delete, data: { confirm: 'Tem certeza?' }, id: 'destroy', class: "btn btn-danger btn-tasks" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<%= link_to 'Nova Propriedade', new_property_path, class: "btn btn-primary btn-tasks" %>
<%= link_to 'Voltar', proprietary_path, class: "btn btn-light btn-tasks" %>

<!-- quartos -->
<h3 class="dash-title mt-5">Quartos</h3>
<div class="table-responsive">
    <table class="table col-12 table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Número</th>
          <th>Propriedade</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @rooms.each do |room| %>
          <tr id="rooms-values">
            <td id='id'><%= room.id %></td>
            <td id='number'><%= room.number %></td>
            <td id='property-name'><%= find_property_name(room.property_id) %></td>
            
            <td><%= link_to 'Editar', edit_room_path(room), id: 'edit', class: "btn btn-primary btn-tasks" %></td>
            <td><%= link_to 'Deletar', room, method: :delete, data: { confirm: 'Tem certeza?' }, id: 'delete', class: "btn btn-danger btn-tasks" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<%= link_to 'Novo Quarto', new_room_path, class: "btn btn-primary btn-tasks" %>
<%= link_to 'Voltar', proprietary_path, class: "btn btn-light btn-tasks" %>

<!-- vagas -->
<h3 class="dash-title mt-5">Vagas</h3>
<div class="table-responsive">
    <table class="table col-12 table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Valor</th>
          <th>Estado</th>
          <th>Quarto</th>
          <th>Ocupante</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @vacancies.each do |vacancy| %>
          <tr id='vacancy-values'>
            <td id='id'><%= vacancy.id %></td>
            <td id='value'><%= vacancy.value %></td>
            <td id='status'><%= vacancy.status %></td>
            <td id='room-id'><%= vacancy.room_id %></td>
            <td id='user-name'><%= find_user_name(vacancy.user_id) %></td>
            
            <td><%= link_to 'Editar', edit_vacancy_path(vacancy), id: 'edit' , class: "btn btn-primary btn-tasks" %></td>
            <td><%= link_to 'Deletar', vacancy, method: :delete, data: { confirm: 'Tem certeza?' }, id:'delete', class: "btn btn-danger btn-tasks" %></td>  
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<%= link_to 'Nova Vaga', new_vacancy_path, class: "btn btn-primary btn-tasks" %>
<%= link_to 'Voltar', proprietary_path, class: "btn btn-light btn-tasks" %>

