<h1 class="dash-title">Chamadas de manutenção</h1>
<div class="table-responsive">
            <table class="table col-12 table-hover table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Criador</th>
                  <th>Título</th>
                  <th>Descrição</th>
                  <th>Estado</th>
                  <th>Resposta proprietário</th>
                  <th colspan="4"></th>
                </tr>
              </thead>
            
              <tbody>
                <% @maintenances.each do |maintenance| %>
                  <tr>
                    <td><%= maintenance.id %></td>
                    <td><%= find_user_name(maintenance.owner_id) %></td>
                    <td><%= maintenance.title %></td>
                    <td><%= maintenance.description %></td>
                    <td><%= maintenance.status %></td>
                    <td><%= maintenance.response %></td>
                    <% if maintenance.status == 'in_progress' && current_user.user_type == 'proprietary' %>
                      
                     <td><%= link_to 'Concluir', completed_maintenance_path(maintenance), method: :put , id: 'complete', class: "btn btn-success btn-tasks" %></td>
                    
                    <% elsif  maintenance.status == 'open' && current_user.user_type == 'proprietary' %>
                     
                       <td><%= link_to 'Concluir', '#' ,data: {confirm: 'Necessário responder antes de concluir' }, class: "btn btn-success btn-tasks" %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    
                    <td><%= link_to 'Visualizar', maintenance, class: "btn btn-info btn-tasks" %></td>
                    <% if current_user.user_type == 'tenant' && current_user.id == maintenance.owner_id %>
                      <td><%= link_to 'Editar', edit_maintenance_path(maintenance), id: 'edit', class: "btn btn-primary btn-tasks" %></td>
                    <% end %>
                     <% if current_user.user_type == 'proprietary' %>
                      <td><%= link_to 'Responder', edit_maintenance_path(maintenance), id: 'response',  class: "btn btn-secondary btn-tasks" %></td>
                    <% end %>
                    <% if current_user.user_type == 'proprietary' || current_user.id == maintenance.owner_id %>
                    <td><%= link_to 'Deletar', maintenance, method: :delete, data: { confirm: 'Tem certeza?' }, id: 'delete', class: "btn btn-danger btn-tasks" %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
<% if current_user.user_type == 'tenant' %>
  <%= link_to 'Nova chamada de manutenção ', new_maintenance_path, class: "btn btn-primary btn-tasks" %>
<% end %>
<%= link_to 'Voltar', homepage_path, class: "btn btn-light btn-tasks" %>