<h3 class="text-center col-12">Visualizar Chamada de Manutenção</h3>
<div class="tasks-cadastro col-6 offset-3">
    <div class="col-12">        
        <p>
          <strong>Criador:</strong>
          <%= find_user_name(@maintenance.owner_id) %>
        </p>
        
        <p>
          <strong>Título:</strong>
          <%= @maintenance.title %>
        </p>
        
        <p>
          <strong>Descrição</strong>
          <%= @maintenance.description %>
        </p>
        
        <p>
          <strong>Resposta:</strong>
          <%= @maintenance.response %>
        </p>
        
        <p>
          <strong>Estado:</strong>
          <%= @maintenance.status %>
        </p>
        <div class="col-12 text-center mt-3">
            <% if @maintenance.status == 'in_progress' && current_user.user_type == 'proprietary' %>
              <%= link_to 'Concluir', completed_maintenance_path(@maintenance), method: :put , id: 'complete', class: "btn btn-sucess btn-tasks" %>
            <% end %>
    
            <%= link_to 'Voltar', maintenances_path, class: "btn btn-light btn-tasks" %>
        </div>
    </div>
</div>
