<h3>Visualizar Chamada de Manutenção</h3>

<p>
  <strong>Criador:</strong>
  <%= find_user_name(@maintenance.owner_id) %>
</p>

<p>
  <strong>Título:</strong>
  <%= @maintenance.title %>
</p>

<p>
  <strong>Descrição</strong>
  <%= @maintenance.description %>
</p>

<p>
  <strong>Resposta:</strong>
  <%= @maintenance.response %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @maintenance.status %>
</p>

<% if @maintenance.status == 'in_progress' && current_user.user_type == 'proprietary' %>
  <%= link_to 'Concluir', completed_maintenance_path(@maintenance), method: :put , id: 'complete' %>
<% end %>
<br>
<%= link_to 'Voltar', maintenances_path %>
