
<div class="container login">
    <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field login-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Seu email" %>
  </div>

  <div class="field login-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Sua senha" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field login-links">
      <%= f.check_box :remember_me, class: "login-check" %>
      <%= f.label :remember_me, class: "login-remember" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-login" %>
  </div>
<% end %>

<div class="login-links text-center" div>
    <%= render "devise/shared/links" %>
<div>

</div>