<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Property:</strong>
  <%= find_property_name(@room.property_id) %>
</p>

<%= link_to 'Editar', edit_room_path(@room) %> |
<%= link_to 'Voltar', properties_path %>
